#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: henry
    ssh_authorized_keys:
	- Ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDqG+XUT+x8/RUIv0B/XHqWsJPbjjkwWAn29yKaAl66ja9+jio6gMa/s3XY9tAa4BpCMZiQWdx00Bq1rbc2bljpAsVTWA8VS60t1AD3aMgCYUU1wQbkztP+Jtc4zudE+n2QTJnTCeXrvoHOzw0jOmA1G4phksAX4173rhX//wCyfJn3dpRIcvpI9sWbdnPog6zxOua4RCpSaBoVVL+ZBDQBR4yOof/wwtNZf1VMj5GjUrtN5LUbZsF50t0Pr3Uq1w8YhesFVBZd3mFBcUQQWDgiQSSYQuEeRhGm7lRzs2sdigrC3YIw8TtBrr0VzMeWVD2fj96uqWWIJ8l5e6xuK70JK7IwKuQs8pwhrI3sEtcljQ8l/4oXbNItKuxwlbYtN5nTuJAx9AuYah/pUIPMQ1mmOk8cZvu9QBveVrW/c721RZ3KWiG9zlAGsb+X/oZ20AM5iG5raYf6BGBEyv8JEC01/6Cq0eYU0SV5BHMDPlEMHArC0EKZX1KUykmKh9G4sQAa/4giFaWueWTzsCzWb/dt/iFsvht75m+upuh+O2VCJviga4gzdACD5IyX+BLGT4LKAIVAGhZG7HiGKU2MB81BL5PyXKCLyg1Q07r4OKtGkxA3v9pEHZWB0J1flLwUD2nIDhue9MYrXOEl1+JlN/5fIIQros/AaWs4WSj1WXPqEQ== henrypaquito90@gmail.com
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
